
html, body {
  height: 100%;
  margin: 10px;
  padding: 0px;
}

input {
  line-height: 30px;
  width: 250px;
  border: 0;
  border-bottom: solid 1px #3d9970;
  margin-left: 0;
}

#map-canvas {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#nav-toggle { position: fixed; left: 20px; top: 10px; }

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #000;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px; 
}

ul li {
  display: block;
  text-decoration: none;
  background-color: #fff;
  line-height: 30px;
  border-bottom: solid 1px #3d9970;
  padding: 0 10px;
  margin-left: 0;
  opacity: .8;
}

ul {
  padding: 0;
  margin: 0;
}

ul li:hover {
  color: #fff;
  background-color: #00bfff;
  opacity: .8;
}

.showList {
  height: 100%;
  float: left;
  position: absolute;
  left: 5px;
  top: 50px;
}

#container {
  position: absolute;
  left: 10px;
  top: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
 }

.noList {
  display: none;
}

#error-message {
  position: absolute;
  text-align: center;
  height: 100%;
  width:100%;
  font-size: 120%;
  z-index: 2;
  color: #eee;
}