* {box-sizing:border-box;}
body {background-color: #ccc;}

ul li {
  display: block;
  text-decoration: none;
  background-color: white;
  line-height: 30px;
  border-bottom: solid 1px #3d9970;
  padding: 0 10px;
}

#list {

}

selected, ul li:hover {
  color: white;
  background-color: #00ffcc;
}